
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

label {
    color: #000;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-right: 70px;
    margin-bottom: 60px; 
  }

  .custom-label {
    font-family: 'Lato', sans-serif;
    
    font-weight: 300; /* Peso de la fuente 300 */
    font-size: 15px; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
    /* Otros estilos de fuente si es necesario */
  }
  .button2 {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    background-color: #ffffff;
    border: 1px solid #233D4D;
    display: flex;
    align-items: center; 
    border-radius: 5px;
    /* padding: 10px 20px; */

    color: #233D4D;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;

    width: 195px;
    height: 47px;
    flex-shrink: 0;
    
    margin-right: 60px; 
} 

.dividers {
  width: 800px;
  height: 1px;
  display: flex;
  background: #12959E;
  margin-bottom: 20px; 
}
.titulo-h2 {
  font-family: 'Lato', sans-serif;
  
  font-weight: 700; /* Peso de la fuente 700 */
  font-size: 20px; /* Cambia el tamaño de la fuente a 24 píxeles (puedes ajustar el valor según tus preferencias) */
}

.titulo-h1{
  
font-family: 'Lato', sans-serif;

font-weight: 700; /* Peso de la fuente 700 */
font-size: 24px;
color: #000000;
margin-bottom: 80px;
margin-top: 25px;
}